/* General styles */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
  margin: 0;
  color: #eee;
  font-family: "Arial", sans-serif;
}

/* Product Card */

.product-card {
  background-color: #1e272e;
  border-radius: 10px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);
  width: 300px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Product Images Container */

.product-images {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Product Images */
.product-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Show Active Image */
.product-images img.active{
  opacity: 1;
}

/* Product Title */
.product-title{
  font-size: 20pz;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Product Price */
.product-price{
  font-size: 18px;
  color: #ff3f34;
  margin-bottom: 15px;
}

/* Color Options */

.color-options{
  display: flex;
  position: relative;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

/* Color Option Styling */

.color-option{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-option:hover{
  transform: scale(1.2);
}

/* Color Labels */

.color-option label{
  display: block;
  position: absolute;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
/* Color Styles */
.color-option.red label{
  background-color: #ff1919;

}
.color-option.purple label{
  background-color: #be2edd;
}

.color-option.green label{
  background-color: #2ecc71;
}

.color-option.black label{
  background-color: #30336b;

}
.color-option.yellow label{
  background-color: #fff019;

}

.color-option.pink label{
  background-color: #ff19e0;

}

/* Glowing Button */

.add-to-cart{
  background-color: #00a8ff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #0097e6;
}

/* Glow Effect */

.add-to-cart::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255,0), 70%);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease;
  border-radius: 50%;

}

/* hover Effects */

.add-to-cart:hover{
  box-shadow: 0 0 20px rgba(30,235, 250, 0.5), 0 0 40px rgba(58, 230, 252, 0.2);
  transform: scale(1.05);
}

.add-to-cart:hover::before{
  transform: translate(-50%, -50%) scale(1);
}

/* Active State */

.add-to-cart:active{
  transform: scale(0.95);
}