body {
  margin: 0;
  background: #009688;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

/* Gökyüzü ve güneş */
.sky {
  position: relative;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, #87CEEB, #009688);
  overflow: hidden;
}

.sun {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 80px;
  height: 80px;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(255, 255, 0, 0.7);
}

/* Bulutlar */
.cloud {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 50%;
}
.cloud1 {
  width: 80px; height: 50px;
  top: 40px; left: -150px;
  animation: cloudMove 40s linear infinite;
}
.cloud1:before {
  width: 50px; height: 50px; top: -20px; left: 15px;
}
.cloud1:after {
  width: 50px; height: 50px; top: -15px; left: 40px;
}

.cloud2 {
  width: 100px; height: 60px;
  top: 60px; left: -250px;
  animation: cloudMove 60s linear infinite;
}
.cloud2:before {
  width: 60px; height: 60px; top: -25px; left: 20px;
}
.cloud2:after {
  width: 60px; height: 60px; top: -20px; left: 50px;
}

.cloud3 {
  width: 60px; height: 40px;
  top: 20px; left: -100px;
  animation: cloudMove 50s linear infinite;
}
.cloud3:before {
  width: 40px; height: 40px; top: -10px; left: 10px;
}
.cloud3:after {
  width: 40px; height: 40px; top: -5px; left: 30px;
}

@keyframes cloudMove {
  0% { left: -200px; }
  100% { left: 120%; }
}

/* Zemin ve kamyon */
.loop-wrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-bottom: 3px solid #fff;
  color: #fff;
}
.mountain {
  position: absolute;
  right: -900px;
  bottom: -20px;
  width: 2px;
  height: 2px;
  box-shadow:
    0 0 0 50px #4DB6AC,
    60px 50px 0 70px #4DB6AC,
    90px 90px 0 50px #4DB6AC,
    250px 250px 0 50px #4DB6AC,
    290px 320px 0 50px #4DB6AC,
    320px 400px 0 50px #4DB6AC;
  transform: rotate(130deg);
  animation: mtn 20s linear infinite;
}
.hill {
  position: absolute;
  right: -900px;
  bottom: -50px;
  width: 400px;
  border-radius: 50%;
  height: 20px;
  box-shadow:
    0 0 0 50px #4DB6AC,
    -20px 0 0 20px #4DB6AC,
    -90px 0 0 50px #4DB6AC,
    250px 0 0 50px #4DB6AC,
    290px 0 0 50px #4DB6AC,
    620px 0 0 50px #4DB6AC;
  animation: hill 4s 2s linear infinite;
}
.tree, .tree:nth-child(2), .tree:nth-child(3) {
  position: absolute;
  height: 100px;
  width: 35px;
  bottom: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
}
.rock {
  margin-top: -17%;
  height: 2%;
  width: 2%;
  bottom: -2px;
  border-radius: 20px;
  position: absolute;
  background: #ddd;
}
.truck, .wheels {
  transition: all ease;
  width: 85px;
  margin-right: -60px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #eee;
}
.truck {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
  background-size: contain;
  height: 60px;
}
.truck:before {
  content: " ";
  position: absolute;
  width: 25px;
  box-shadow:
    -30px 28px 0 1.5px #fff,
    -35px 18px 0 1.5px #fff;
}
.wheels {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
  height: 15px;
  margin-bottom: 0;
}

.tree { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2) { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3) { animation: tree3 8s 0.050s linear infinite; }
.rock { animation: rock 4s -0.530s linear infinite; }
.truck { animation: truck 4s 0.080s ease infinite; }
.wheels { animation: truck 4s 0.001s ease infinite; }
.truck:before { animation: wind 1.5s 0.000s ease infinite; }

@keyframes tree {
  0% { transform: translate(1350px); }
  100% { transform: translate(-50px); }
}
@keyframes tree2 {
  0% { transform: translate(650px); }
  100% { transform: translate(-50px); }
}
@keyframes tree3 {
  0% { transform: translate(2750px); }
  100% { transform: translate(-50px); }
}
@keyframes rock {
  0% { right: -200px; }
  100% { right: 2000px; }
}
@keyframes truck {
  6% { transform: translateY(0px); }
  7% { transform: translateY(-6px); }
  9% { transform: translateY(0px); }
  10% { transform: translateY(-1px); }
  11% { transform: translateY(0px); }
}
@keyframes wind {
  50% { transform: translateY(3px) }
}
@keyframes mtn {
  100% {
    transform: translateX(-2000px) rotate(130deg);
  }
}
@keyframes hill {
  100% {
    transform: translateX(-2000px);
  }
}
